* {
  margin: 0;
  padding: 0; }

body {
  background-color: #eff0de; }

footer {
  font-family: "Josefin Sans";
  font-size: x-large;
  margin-top: 200px;
  margin-left: 10px; }

img#logo {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px; }

.menu {
  font-family: "Amatic SC";
  font-size: large; }

.carrito {
  color: #6b8220; }

/*Pgina inicio*/
.bienvenidos {
  font-size: 50px;
  font-family: "Josefin Sans";
  border-width: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px; }

.subtitulo {
  font-size: 40px;
  font-family: "Josefin Sans";
  border-width: 5px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px; }

.introduccion {
  font-family: "Josefin Sans";
  font-size: large; }

/* pagina productos*/
.card {
  font-family: "Josefin Sans";
  font-weight: 500; }

.fotos {
  max-width: 400px;
  max-height: 300px; }

/* pagina galeria*/
.galeria1 {
  font-size: 50px;
  font-family: "Josefin Sans";
  border-width: 5px;
  margin-top: 50px;
  text-align: center; }

.galeria2 {
  font-size: 50px;
  font-family: "Josefin Sans";
  border-width: 5px;
  margin-top: 60px;
  text-align: center; }

.fotogaleria1 {
  margin-top: 40px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 300px;
  margin-left: 70px;
  margin-right: 190px; }

.fotogaleria2 {
  margin-top: 40px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 300px;
  margin-right: 80px; }

.fotogaleria3 {
  margin-top: 40px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 300px;
  margin-left: 95px; }

/* Pagina recetas*/
.recetasvideos {
  display: flex;
  align-items: center;
  justify-content: center; }

/* pagina contacto*/
.contacto {
  font-size: 50px;
  font-family: "Josefin Sans";
  border-width: 5px;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center; }

.instagram {
  max-width: 200px;
  max-height: 200px; }

.what {
  max-width: 200px;
  max-height: 200px; }
