* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eff0de;
    }
footer{
    grid-area: footer;
    font-family: "Josefin Sans";
    font-size: x-large;
    margin-top: 200px;
    margin-left: 10px;
}
img#logo{
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
   margin-left: 65px;
}
.logo {
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 561px;
}
.menu li {
    
    display: inline;
    background-color: #6D8B1D;
    border: 1px solid black;
    padding: 10px;
    border-width: 2px;
    margin-top: 30px;
    margin-left: 155px;
    text-align: center;
    font-size: 30px;
}
a {
    text-decoration: none;
    font-family: "Amatic SC"
}





/*Pgina inicio*/
.bienvenidos {
    font-size: 50px;
    font-family: "Josefin Sans";
    border-width: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;    
}
.ruta{
    height: auto;
    width: auto;
    max-width: 410px;
    max-height: 410px;
   margin-left: 70px;
   margin-bottom: 80px;
}
.subtitulo{
    font-size: 40px;
    font-family: "Josefin Sans";
    border-width: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.introduccion {
    font-family: "Josefin Sans";
    font-size: large;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 300px;}









/* pagina productos*/


/*.listaproductos{
    font-size: 50px;
    height: 50px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}
.productos{
    font-size: 20px;
    font-family: "Josefin Sans";
    display: inline;
}*/

.grillaproductos{
    display:grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(8, 1fr) 60px;
    grid-template-areas: "f1 f1 f1"
    "listaproductos1 listaproductos1 listaproductos1"
    "f2 f2 f2"
    "listaproductos2 listaproductos2 listaproductos2"
    "f3 f3 f3"
    "listaproductos3 listaproductos3 listaproductos3"
    "f4 f4 f4"
    "listaproductos4 listaproductos4 listaproductos4"
    "footer footer footer"
}
.productos{font-size: 20px;
    font-family: "Josefin Sans";   
    height: 50px;
    display: inline
}
#listaproductos1{
    grid-area:listaproductos1 ;
}
#listaproductos2{
    grid-area:listaproductos2 ;
}
#listaproductos3{
    grid-area:listaproductos3 ;
}
#listaproductos4{
    grid-area:listaproductos4 ;
}
.f1{
    grid-area: f1;
}
.f2{
    grid-area: f2;
}
.f3{
    grid-area: f3;
}
.f4{
    grid-area: f4;
}
.fotos{
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    margin-top: 2%;
}









/* pagina galeria*/

.galeria1{
    font-size: 50px;
    font-family: "Josefin Sans";
    border-width: 5px;
    margin-top: 50px;
    text-align: center;
}
.galeria2{
    font-size: 50px;
    font-family: "Josefin Sans";
    border-width: 5px;
    margin-top: 60px;
    text-align: center;
}
.fotogaleria1{
    margin-top: 40px;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    margin-left: 70px;
    margin-right: 190px;
}
.fotogaleria2{
    margin-top: 40px;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    margin-right: 80px;
}
.fotogaleria3{
    margin-top: 40px;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    margin-left: 95px;
}
iframe{
    max-width: 400px;
    max-height: 700px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}







/* Pagina recetas*/
.recetas li{
    display: inline;
    padding: 90px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
    font-size: 40px;
}






/* pagina contacto*/

.contacto{
    font-size: 50px;
    font-family: "Josefin Sans";
    border-width: 5px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;  
}
.instagram{
    margin-top: 40px;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin-right: 80px;
    margin-left: 200px;
}
.what{
    margin-top: 10px;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin-right: 80px;
    margin-left: 200px;
}
.formulario{
    font-size: 30px;
    font-family: "Josefin Sans";
    border-width: 5px;
    margin-top: 60px;
    margin-left: 465px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.condiciones{
    font-family: 'Times New Roman', Times, serif;
}